<!doctype html>
<head>
	<link href='https://getbootstrap.com/dist/css/bootstrap.min.css' rel='stylesheet'>
	<link href='https://getbootstrap.com/docs/4.0/examples/cover/cover.css' rel='stylesheet'>
	<link rel='shortcut icon' href='{{ url_for('static', filename='Templar_Assassin_icon.png', _external=True) }}'>
	<title>Home of Warden</title>
</head>
<body class='text-center'>
	<div class='cover-container d-flex w-100 h-50 p-3 mv-auto flex-column'>
		<header class='masthead mb-auto'>
			<div class="inner">
				<h1 class="masthead-brand max-height: 100%">Rui</h1>
				<nav class="nav nav-masthead justify-content-center">
					<a class="nav-link" href="/">Invite You</a>
					<a class="nav-link" href="/">Surprise You</a>
					<a class="nav-link" href="/">Whisper You</a>
				</nav>
			</div>
		</header>
		<br><br><br><br><br><br><br><br><br>
		<p class="lead">Night gathers, and now my watch begins.</p>
		<p class="lead">It shall not end until my death.</p>
		<p class="lead">I shall take no wife, hold no lands, father no children.</p>
		<p class="lead">I shall wear no crowns and win no glory.</p>
		<p class="lead">I shall live and die at my post.</p>
		<p class="lead">I am the sword in the darkness.</p>
		<p class="lead">I am the watcher on the walls.</p>
		<p class="lead">I am the shield that guards the realms of men.</p>
		<p class="lead">I pledge my life and honor to the Night's Watch, for this night and all nights to come.</p>
		
	
</body>
